* {
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  --gray: #efefef;
  --dark-gray: #2a2c2c;
  --color-hover: #c7c4c4;
  --color-active: #707070;
  font-family: 'Patrick Hand', cursive;
}

html {
  font-size: 62.5%;
  color: var(--dark-gray);
}

.app {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  align-items: center;
  font-size: 1.5rem;
}

.app__title {
  grid-column-start: 1;
  grid-column-end: 6;
  text-align: center;
  min-height: 3rem;
  font-size: 3rem;
}

.app__instructions {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 7;
  font-size: 1.5rem;
}
.instructions__title {
  text-align: center;
}

.instructions__list {
  list-style: inside;
  margin-top: 1.5rem;
}

.app__calculator {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 7;
  gap: 0.3rem;
  text-align: center;
  margin: auto;
  min-width: 30rem;
  min-height: 30rem;
  border-radius: 1rem 1rem 0 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.calculator__display {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: var(--dark-gray);
  color: var(--gray);
  border-radius: 1rem 1rem 0 0;
  text-align: right;
  padding: 1rem 1rem 0 0;
  min-height: 5rem;
}

.calculator__button,
.calculator__doubleButton {
  transition: background-color 0.6s, color 0.1s;
  font-weight: 600;
}

.calculator__button:hover,
.calculator__doubleButton:hover {
  cursor: pointer;
  background-color: var(--color-hover);
}

.calculator__button:active,
.calculator__doubleButton:active {
  cursor: pointer;
  background-color: var(--color-active);
  color: var(--gray);
}

.display__current {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 0.5rem;
}

.display__previous {
  font-size: 1.5rem;
}

.calculator__doubleButton,
.calculator__button {
  font-size: 2rem;
}

.calculator__doubleButton {
  grid-column: span 2;
}

.app__signature {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 7;
  grid-row-end: 8;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .app {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
  }

  .app__calculator {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .app__instructions {
    grid-column-start: 3;
  }

  .app__signature {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

@media screen and (max-width: 425px) {
  .app {
    display: flex;
    flex-direction: column;
  }

  .app__instructions {
    margin: 1.5rem 0;
  }

  .instructions__title {
    font-size: 1.6rem;
  }

  .instructions__list {
    list-style: none;
    text-align: left;
  }
}
